<html lang="en">
    <%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs')%>

        <h1>Publishers</h1>

        <form action="/publisher" method="POST">
            <input type="text" name="keyword" placeholder="Search by publisher">
            <input type="submit" value="Search">
        </form>

        <button onclick="sortTable(1)">Sort by publisher</button>

        <form action="/publisher" method="GET">
            <br>
            <table border="1" id="table">
                <tr>
                    <th>id</th>
                    <th>Publisher</th>
                </tr>
                <% if (publisher.length == 0) { %>
                    <p>No publisher named <%=search%></p>
                <% } else { %>
                    <% for(var i = 0; i < publisher.length; i++) { %>
                    <tr>
                        <td><%=publisher[i].id%></td>
                        <td><%=publisher[i].publisher%></td>
                    </tr>
                    <% } %>
                <% } %>
            </table>
        </form>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>